{% extends 'base.html' %}

{% block content %}
    <div class="content-main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="banner-main-about margin-b-30">
                    <div class="banner-main-about-text">
                        <div class="heading2">
                            <p>WELCOME TO</p>
                            <h1>关于我们</h1>
                        </div>
                        <div class="col-md-10">
                            {{ about_us.text }}
                            <br/>
                            <br/>
                            <br/>
                        </div>
                        <div class="desc2">
                        <label>工作人员:</label>
                            <ul>
                                <li>{{ person.0 }}</li>
                                {% if person.1 %}
                                    <li>{{ person.1 }}</li>
                                {% endif %}
                                {% if person.2 %}
                                    <li>{{ person.2 }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <img src="/static/images/about-img-1.png" alt="Image" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
{% endblock %}