{% extends 'base_backend.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        BLOG后台管理系统
                    </div>
                    <div class="panel-body">
                        <p>1:本后台系统仅限于管理员使用。</p>
                        <p>2:使用完毕请退出登陆。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}