{% extends 'base_backend.html' %}

{% block content %}
    <form class="form-horizontal" role="form" method="POST" action="">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-1">标题:</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="title" value="{{ form.title.value }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-1">标签:</label>
                                <select class="col-md-5 tag-choice-multiple" multiple="multiple">
                                    {% for t in article.tag.all %}
                                        <option value="{{ t.id }}" selected="selected">{{ t }}</option>a
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2">是否置于首页:</label>
                                <input class="col-md-1" name="is_topic" type="checkbox" {% if form.is_topic.value %} checked="checked"{% endif %}>
                                <p class="col-md-1 text text-danger">{{ form.is_topic.errors }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2">更新日期:</label>
                                <div class="col-md-2">
                                    {{ article.update_time|date:"Y /m /d H:i" }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="col-md-12" rows="40" name="content" placeholder="博客内容..." >{{ form.content.value }}</textarea>
                            </div>
                        </div>

                        <div class="control-label">
                            <input type="submit" value="保存" class="btn btn-info">
                        </div>
                    <br/>
                    <br/>
                    <br/>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}
{% block more_script %}
    <script type="text/javascript" src="/static/js/select2.min.js"></script>
    <script type="text/javascript">

    $(".tag-choice-multiple").select2({
        multiple: true,
        ajax: {
            url: '/backend_tag_choice/',
            dataType: "json",
            data: function (params) {
                return {
                    q: params.term,
                };
            },
            processResults: function (data, params) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });

    </script>
{% endblock %}