{% extends 'base_backend.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>标题</th>
                                <th>创建时间</th>
                                <th>邮箱</th>
                                <th>是否反馈</th>
                            </tr>
                        </thead>
                        {% for message in messages %}
                            <tbody>
                            <tr>
                                <td>{{ message.id }}</td>
                                <td><a href="/backend_message_modify/{{ message.id }}">{{ message.title }}</a></td>
                                <td>{{ message.create_time|date:"Y /m /d H:i"}}</td>
                                <td>{{ message.email }}</td>
                                <td>{% if message.is_reply %}是{% else %}否{% endif %}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}