{% extends 'base_backend.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-md-11">BLOG后台管理系统</div>
                        <a id="id_hid">设置</a>
                    </div>
                    <div class="panel-body" id="id_panel_body">
                        <p>1:本后台系统仅限于管理员使用。</p>
                        <p>2:使用完毕请退出登陆。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block more_script %}
    <script>
        $('#id_hid').on('click',function(){
            if($('#id_panel_body').is(":visible")){
                $('#id_panel_body').hide();
            }
            else{
                $('#id_panel_body').show();
            }
        })
    </script>
{% endblock more_script %}