{% extends 'base_backend.html' %}

{% block content %}
    <form class="form-horizontal" role="form" method="POST" action="">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2 control-label">标题:</label>
                                <div class="col-md-4 form-control-static">
                                    {{ message.title }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2 control-label">创建日期:</label>
                                <div class="col-md-4 form-control-static">
                                    {{ message.create_time|date:"Y /m /d H:i" }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2 control-label">内容:</label>
                                <div class="col-md-4 form-control-static">
                                    {{ message.content }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2 control-label">邮箱:</label>
                                <div class="col-md-4 form-control-static">
                                    <a href="mailto:{{ message.email }}">{{ message.email }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="col-md-2 control-label">是否反馈:</label>
                                <div class="col-md-4 form-control-static">
                                    <input class="col-md-1" name="is_reply" type="checkbox" {% if form.is_reply.value %} checked="checked"{% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 control-label">
                            <input type="submit" value="保存" class="btn btn-info">
                        </div>
                    <br/>
                    <br/>
                    <br/>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}
{% block more_script %}
{% endblock %}