<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/blog_title.png"/>

    <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,400italic'>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
    {% block extra_css %}{% endblock %}

    <title>{% block title %}{% if title %}{{ title }} - {% endif %}个人博客{% endblock %}</title>
</head>

<body {% if title  %}class="gallery-page"{% endif %}>
    <div class="main-body">
        <div class="container">
            <div class="row">
                <div class="main-page">

                    <aside class="main-navigation">
                        <div class="main-menu">

                            <div class="menu-container">
                                <div class="block-keep-ratio block-keep-ratio-2-1 block-width-full home">
                                    <a href="/home" class="block-keep-ratio__content  main-menu-link">
                                        <span class="main-menu-link-text">
                                            主页
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="menu-container">
                                <div class="block-keep-ratio block-keep-ratio-2-1 block-width-full gallery">
                                    <a href="/blog_list" class="main-menu-link  block-keep-ratio__content">
                                        <span class="main-menu-link-text">
                                            我的博客
                                        </span>
                                    </a>
                                </div>
                            </div>


                            <div class="menu-container">
                                <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half pull-left  about-main">
                                    <a href="/about" class="main-menu-link about block-keep-ratio__content flexbox-center">
                                        <i class="fa fa-user fa-4x main-menu-link-icon"></i>
                                        关于我们
                                    </a>
                                </div>

                                <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
                                    <a href="/contact" class="main-menu-link contact block-keep-ratio__content flexbox-center">
                                        <i class="fa fa-envelope-o fa-4x main-menu-link-icon"></i>
                                        与我联系
                                    </a>
                                </div>
                            </div>

                            <div class="menu-container">
                                <a class="btn btn-info btn-block" href="/login" role="button">我是管理员</a>
                            </div>
                        </div> <!-- main-menu -->
                    </aside> <!-- main-navigation -->
                    {% block content %}
                    {% endblock %}

                </div> <!-- .main-page -->
            </div> <!-- .row -->
            <footer class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
                    <p class="copyright">MyBlog © 2016 Chenfeifei</p>
                </div>
            </footer>  <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .main-body -->

    <!-- JavaScript -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    {% block body_js %}{% endblock %}

</body>
</html>
