{% extends "base.html" %}

{% block content %}

    <div class="content-main gallery_main">

        <div class="gallery-main-inner">

            <div class="col-md-12 gallery_title_main">
                <div class="gallery_title">
                    <h3>{{ form.title }}</h3>

                </div>
            </div>
            <div>
            </div>
            <br/>
            <div class="col-lg-offset-10">
                <button type="submit" class="btn btn-info">保存</button>
            </div>
        </div>
    </div>

{% endblock %}
