{% extends "base.html" %}

{% block content %}

    <div class="content-main gallery_main">

        <div class="gallery-main-inner">

            <div class="col-md-12 gallery_title_main">
                <div class="gallery_title">
                    <h3>{{ blog.title }}</h3>
                    {% for t in blog.tag.all %}
                        <h4 class="col-md-2">{{ t }}</h4>
                    {% endfor %}
                    <div class="col-md-10">
                        <h5>{{ blog.update_time|date:"Y /m /d H:i" }}</h5>
                    </div>
                </div>
            </div>
            <div>
                {{ blog.content }}
            </div>
            <br/>
            <div class="line"></div>
            <div class="row">
                <br/>
                <div class="col-md-10">
                    {% for comment in comments %}
                        <label class="text-info">{{ comment.email }}的评论:</label>
                        <p>{{ comment.comment }}</p>
                        <br/><div class="line"></div><br/>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <form class="form-horizontal" role="form" method="POST" action="">

                        <div class="form-group">
                            <textarea class="form-control" rows="4" name="comment" placeholder="添加评论..." >{{ form.comment.value }}</textarea>
                            <div class="text-danger">
                                <p>{{ form.comment.errors }}</p>
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            <input type="email" class="form-control" name="email" placeholder="您的邮箱..." value="{{ form.email.value }}"/>
                            <div class="text-danger">
                                <p>{{ form.email.errors }}</p>
                            </div>
                        </div>

                        <div class="control-label">
                            <input id="submit" name="submit" type="submit" value="发送" class="btn view_more btn-submit">
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block body_js %}
    <script>
        function edit(){
            window.location.href = '/blog_edit/' + {{ blog.id }} + '/'
        }
    </script>
{% endblock %}
