{% extends "base.html" %}

{% block content %}

    <div class="content-main gallery_main">

        <div class="gallery-main-inner">

            <div class="col-md-12 gallery_title_main">
                <div class="gallery_title">
                    <h3>博客列表</h3>
                    <h4>BLOG LIST</h4>
                </div><br style="clear:both;"/>
            </div>
            <div class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" name="srch_value" placeholder="请输入博客标题">
                </div>
                <button class="btn btn-info" type="button" onclick="search()">搜索</button>
            </div>
            <br/>
            {% for article in articles %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box london">
                            <div class="info float-container">
                                <div class="col-sm-12 london-title">
                                    <h3 class="text-uppercase"><a href="/modify/{{ article.id }}" >{{ article.title }}</a></h3>
                                    <h4 class="text-uppercase">{{ article.tag }}</h4>
                                </div>
                                <p id="blog_list_article">{{ article.content }}</p>
                                <hr />
                                <div class="col-sm-12 location-main">
                                    <div class="pull-left">
                                        <span class="text-info">{{ article.date_time|date:"Y /m /d H:i" }}</span>
                                    </div>
                                    <div class="pull-right location">
                                        <i class="fa fa-map-marker fa-2x"></i><span>{% if not article.local %}未标记位置{% endif %}{{ article.local }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor%}

        </div>
    </div>

{% endblock %}
{% block body_js %}
    <script src="/static/js/imagesloaded.3.1.8.min.js"></script>
    <script src="/static/js/jquery.masonry.3.2.1.min.js"></script>

    <script>
        window.onload = function(){
            var text = document.getElementById('blog_list_article'),
                    str = text.innerHTML,
                    textLeng = 100;
            if(str.length > textLeng ){
                text .innerHTML = str.substring(0,textLeng )+"... ...";
            }
        };
        function search(){
            var v = $("input[name='srch_value']").val();
            if(v){
                window.location.href = '/blog_list/' + v + '/'
            }
            else {
                window.location.href = '/blog_list/'
            }
        }

    </script>
{% endblock %}