{% extends 'base.html' %}

{% block content %}
    <div class="content-main contact-content">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3>与我联系</h3>
                        <h4>发送信息马上与我联系</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <form class="form-horizontal" role="form" method="POST" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="您的姓名..." value="{{ form.name.value }}"/>
                            <div class="text-danger">
                                <p>{{ form.name.errors }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="您的邮箱..." value="{{ form.email.value }}"/>
                            <div class="text-danger">
                                <p>{{ form.email.errors }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="主题..." value="{{ form.title.value }}"/>
                            <div class="text-danger">
                                <p>{{ form.title.errors }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="4" name="content" placeholder="内容..." >{{ form.content.value|safe }}</textarea>
                            <div class="text-danger">
                                <p>{{ form.content.errors }}</p>
                            </div>
                        </div>

                        <div class="control-label">
                            <input id="submit" name="submit" type="submit" value="发送" class="btn view_more btn-submit">
                        </div>

                    </form>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10">

                    <div class="col-md-12 contact_title">
                         其它方式
                    </div>

                    <div class="col-md-12 contact_sub_title">
                        使用其它方式随时与我联系提出建议
                    </div>

                    <div class="col-md-12 contact_text">

                    </div>

                    <div class="col-md-12 contact_info">
                        <a href="mailto:401662148@qq.com" class="contact-info-link">
                            <i class="fa fa-envelope contact-fa"></i>{{ person.email }}
                        </a><br/>
                        <a href="/contact" class="contact-info-link">
                            <i class="fa fa-qq contact-fa"></i>{{ person.qq }}
                        </a><br/>
                        <a href="/contact" class="contact-info-link">
                            <i class="fa fa-phone contact-fa"></i>{{ person.phone }}
                        </a><br/>
                    </div>

                    <div class="col-md-12">
                        <span><i class="fa fa-weibo social-icon rss_icon"></i></span>
                        <span><i class="fa fa-github social-icon twitter_icon"></i></span>
                        <span><i class="fa fa-qq social-icon facebook_icon"></i></span>
                    </div>

                </div> <!-- .contact_right -->

            </div> <!-- .row -->
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="google-map"></div>
            </div>
        </div>

    </div> <!-- .contact-content -->
{% endblock %}